<a href="https://colab.research.google.com/github/Chandradithya8/Natural_Language_Processing/blob/main/TF-IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
import re
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,WordNetLemmatizer

In [4]:
paragraph=""" Firebase evolved from Envolve, a prior startup founded by James Tamplin and Andrew Lee in 2011. Envolve provided developers 
an API that enables the integration of online chat functionality into their websites. After releasing the chat service, Tamplin and Lee 
found that it was being used to pass application data that were not chat messages. Developers were using Envolve to sync application data
 such as game state in real time across their users. Tamplin and Lee decided to separate the chat system and the real-time architecture that
  powered it.[3] They founded Firebase as a separate company in September 2011[4] and it launched to the public in April 2012.[5]"""

In [5]:
lemmatizing=WordNetLemmatizer()
sentences=nltk.sent_tokenize(paragraph)

In [6]:
stop=stopwords.words('english')

In [7]:
final=[]
for i in range(len(sentences)):
  review=re.sub('[^a-zA-Z]','',sentences[i])
  review=review.lower()
  review=review.split()
  review=[lemmatizing.lemmatize(word) for word in review if word not in stop] 
  review=''.join(review)
  final.append(review)
print(final)

['firebaseevolvedfromenvolveapriorstartupfoundedbyjamestamplinandandrewleein', 'envolveprovideddevelopersanapithatenablestheintegrationofonlinechatfunctionalityintotheirwebsites', 'afterreleasingthechatservicetamplinandleefoundthatitwasbeingusedtopassapplicationdatathatwerenotchatmessages', 'developerswereusingenvolvetosyncapplicationdatasuchasgamestateinrealtimeacrosstheirusers', 'tamplinandleedecidedtoseparatethechatsystemandtherealtimearchitecturethatpoweredit', 'theyfoundedfirebaseasaseparatecompanyinseptemberanditlaunchedtothepublicinapril', '']

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer(smooth_idf=True,use_idf=True)
result1=tf.fit_transform(final)
result1.shape

(7, 6)

In [27]:
import pandas as pd
df=pd.DataFrame(result1)
df

               0
0    (0, 3)\t1.0
1    (0, 2)\t1.0
2    (0, 0)\t1.0
3    (0, 1)\t1.0
4    (0, 4)\t1.0
5    (0, 5)\t1.0
6